  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;800&display=swap');

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Roboto Slab', serif;

  a {
    text-decoration: none;
  }

  button {
    border: 0;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
